{% extends "auctions/layout.html" %}

{% block body %}
    <h2>New Listing</h2>
    {% if success %}
        <h3>SUCCESSFULLY CREATED</h3>
    {% endif %}
    <div class="form-group">
        <form action="{% url 'newListing' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            {{ imageForm.management_form }}
            {% for form in imageForm %}
                {{ form }}
            {% endfor %}
            <input type = submit value="Upload">
        </form>
        
    </div>  
{% endblock %}